body{
    box-sizing: border-box;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}
.navbar{
    background-color:#456063;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 1rem;
    position: sticky;
    top:0;
    z-index: 999;
}
.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 100px;
    z-index: 1;
    /* width: 100%; */
    max-width: 100%;
    margin: 0 auto;
    padding: 0 100px;
    
}
#navbar__logo{
    background-color: rgb(164, 180, 238);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    padding-left:10px;
    align-items: center;
    font-family:cursive;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.9rem;
    font-weight:bold;
    font-style: oblique;
    margin: 0;
}
.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item{
    height: 40px;
    padding: 30px;
    
}
.navbar__links{
    color: black;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    text-decoration: none;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s ease;
    flex-shrink: none;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width:50%;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height:100%;
    width: 75%;
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: black;
    color:white;
    transition: all 0.3 ease;
}
.navbar__links:hover{
    color:rgb(49, 49, 110);
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: white;
    transition: all 0.8s ease;
    font-size: x-large;
}
.navbar__links--active{
    background-color: white;
    border-radius: 30px;
    font-size: larger;
}
.button:hover{
    color:rgb(49, 49, 110);;
    background-color:white;
    background-size: 100%;
    transition: all 0.8s ease;
    font-size: x-large;
}
.navbar__menu .navbar__item.active {
    background-color: white;
  }
.tabcontent {
    padding-top: 10px;
    display: flex;
    font-size: 1rem;  
}
.tabcontent:active{
    display: contents;
    margin-top: 100px;
    margin-left: 10px;
  }
.content{
    position: absolute;
    margin: 13% 50% ;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 100%;
    border-radius: 0 0 5000px 5000px ;
    background-color:#456063;
    align-items: center;
    position: absolute;
    max-width: 100%;
}
#heat_map{
    border: 1px solid #171d29;
    width:100%;
    height: 700px;
    max-width: 100%;

}
.definition{
    max-width: 100%;
    color: rgb(255, 255, 255);
    padding-left: 15%;
    padding-top: 5%;
    width: 80%;
    font-family: sans-serif;
    font-style: oblique;
}
.abtract{
    color: rgb(255, 255, 255);
    padding-left: 15%;
    padding-top: 2%;
    width: 80%;
    font-family: sans-serif;
    
}

.r_btn{
    width: 130px;
    /* height: 80px; */
    border-radius: 70%;
    border: 10px solid #456063;
    background-color:#516284;;
    transition: all 0.3s ease-in;
    display: flex;
    padding: 2%;
    text-align: center;
    margin-top: 5%;
    margin-left: 42%;
    text-decoration:none ; 
    text-align: center;
    font-size: small; 
    font-family:Georgia, 'Times New Roman', Times, serif; 
    font-weight:bold; 
    color:  #d6dce7;
}
.r_btn:hover{
    width: 130px;
    /* height:100px; */
    padding: 2%;
    text-align: center;
    font-size: larger;
    border-radius: 70%;
    border: 10px solid white;
    color: #171d29;;
    margin-top: 5%;
    margin-left: 42%;
    color: white;
    transition: all 0.3s ease-in;
}




@media only screen and (max-width: 800px) {
    body{
        height: 100vh;
        background-color:#456063;
        /* overflow: hidden; */
    }
    #heat_map{
    display: none;
    }
    .navbar__item, .navbar__btn{
        display: none;
    }
    .definition{
        margin-top: 30%;
    }
    .r_btn{
        border: 5px solid white;
        padding: 3%;
        
        /* text-align: center; */
    }
    .r_btn:hover{
        border: 5px solid white;
    }
    .topnav #myLinks {
        display: block;
        }
    

      
    
} 


