body{
    
}
div{
    border: 1px solid black;
}
.nav_parent{
    background-color: #5f9ea0;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    
}
.nav_parent div , .nav_parent nav{
    flex: 1;
    
}
#navbar_logo{
    width: 90%;
    
}
.nav_container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}


